{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/1.JPG' %}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>2700 руб.</p>
                            <h4>Chocolate bag</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/2.JPG' %}" alt="">
                        <!-- Hover Content -->
{#                        <div class="hover-content">#}
{#                            <div class="line"></div>#}
{#                            <p>From $180</p>#}
{#                            <h4>Minimalistic Plant Pot</h4>#}
{#                        </div>#}
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/3.JPG' %}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>2500 руб.</p>
                            <h4>Plombir bag</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/5.JPG' %}" alt="">
                        <!-- Hover Content -->
{#                        <div class="hover-content">#}
{#                            <div class="line"></div>#}
{#                            <p>From $180</p>#}
{#                            <h4>Night Stand</h4>#}
{#                        </div>#}
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/7.JPG' %}" alt="">
                        <!-- Hover Content -->
{#                        <div class="hover-content">#}
{#                            <div class="line"></div>#}
{#                            <p>2500 руб.</p>#}
{#                            <h4>Blue bag</h4>#}
{#                        </div>#}
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'products_app:shop' %}">
                        <img src="{% static 'img/bg-img/6.JPG' %}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>2500 руб.</p>
                            <h4>Blue bag</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}



