{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{ product.image_static1.url }});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{ product.image_static2.url }});">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({{ product.image_static3.url }});">
                                    </li>

                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{{ product.image_static1.url }}">
                                            <img class="d-block w-100" src="{{ product.image_static1.url }}" alt="First slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{ product.image_static2.url }}">
                                            <img class="d-block w-100" src="{{ product.image_static2.url }}" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{ product.image_static3.url }}">
                                            <img class="d-block w-100" src="{{ product.image_static3.url }}" alt="Third slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">{{ product.price }}</p>
                                <a href="product-details.html">
                                    <h6>{{ product.name }}</h6>
                                </a>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> В наличии</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ product.description }}</p>
                            </div>
                            <!-- Add to Cart Form -->
                            <form action="{% url "basket_app:basket_add" product.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn amado-btn" value="Добавить в корзину">
                                {{ cart_product_form.quantity }}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
        <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}