{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!-- Header Area End -->
        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Category</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    {% for categor in category %}
                    <ul>
                        <li class="active"><a href="#">{{ categor }}</a></li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">

                    <!-- Single Product Area -->
                    {% for product in products %}
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ product.image.url }}" alt="">
                                    <!-- Hover Thumb -->
                                  <img class="hover-img" src="{{ product.image_static_shop.url }}" alt="">
                                </div>

                                <!-- Product Description -->
                                <div class="product-description d-flex align-items-center justify-content-between">
                                    <!-- Product Meta Data -->
                                    <div class="product-meta-data">
                                        <div class="line"></div>
                                        <a href="{% url 'products_app:details' product.id %}">
                                            <p class="product-price">{{ product.name }}</p>
                                        </a>
                                        <h6>{{ product.price }} руб.</h6>
                                    </div>
                                    <!-- Ratings & Cart -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
