{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!-- Header Area End -->

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Корзина</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Название</th>
                                        <th>Цена</th>
                                        <th>Кол-во</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for basket in baskets %}
                                        <tr>
                                            <td class="cart_product_img">
                                                <a href="#"><img src="{{ basket.product.image.url }}" alt="Product"></a>
                                            </td>
                                            <td class="cart_product_desc">
                                                <h5>{{ basket.product.name }}</h5>
                                            </td>
                                            <td class="price">
                                                <span>{{ basket.product.price }}</span>
                                            </td>
                                            <td class="qty">
                                                <div class="qty-btn d-flex">
                                                    <p>Qty</p>
                                                    <div class="quantity">
                                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="{{ basket.quantity }}">
                                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'basket_app:basket_remove' %}" class="btn amado-btn w-100">Очистить корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Всего</h5>
                            <ul class="summary-table">
                                <li><span>Сумма заказа:</span> <span>{{ total_sum }} руб.</span></li>
                                <li><span>Доставка:</span> <span>Бесплатно</span></li>
                                <li><span>Итого сумма:</span> <span>{{ total_sum }} руб.</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'basket_app:checkout' %}" class="btn amado-btn w-100">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}