{% extends 'products/base.html' %}
{% load static %}

<div class="basket_list">
{% block content %}
    {% if cart %}
    <!-- Header Area End -->

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Корзина</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Название</th>
                                        <th>Цена</th>
                                        <th>Кол-во</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                        {% with product=item.product %}
                                            <tr>
                                                <td class="cart_product_img">
                                                    <a href="#"><img src="{{ product.image.url }}" alt="Product"></a>
                                                </td>
                                                <td class="cart_product_desc">
                                                    <h5>{{ product.name }}</h5>
                                                </td>
                                                <td class="price">
                                                    <span>{{ product.price }}</span>
                                                </td>
                                                <td>
                                                    <h5>{{ item.quantity }}</h5>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'basket_app:basket_remove' %}" class="btn amado-btn w-100">Очистить корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Всего</h5>
                            <ul class="summary-table">
                                <li><span>Сумма заказа:</span> <span>{{ cart.get_total_price }} руб.</span></li>
                                <li><span>Доставка:</span> <span>Бесплатно</span></li>
                                <li><span>Итого сумма:</span> <span>{{ cart.get_total_price }} руб.</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'order_app:checkout' %}" class="btn amado-btn w-100">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="cart-title mt-50">
            <h2>Корзина пуста</h2>
        </div>
    {% endif %}
{% endblock %}

</div>

{% block js %}
    <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}