{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Оформление заказа</h2>
                        </div>

                        <form action="{% url 'basket_app:checkout' %}" method="post">{% csrf_token %}
                            <div class="row">
                                {% for f in form %}
                                <div class="col-md-6 mb-3">
                                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Всего</h5>
                        <ul class="summary-table">
                            <li><span>Сумма заказа:</span><span>{{ baskets.0.total_sum }} руб.</span></li>
                            <li><span>Доставка:</span> <span>Бесплатно</span></li>
                            <li><span>Итого сумма:</span> <span>{{ baskets.0.total_sum }} руб.</span></li>
                        </ul>
                        <div class="payment-method">
                            <!-- Cash on delivery -->
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="cod" checked>
                                <label class="custom-control-label" for="cod">Оплата при доставке</label>
                            </div>
                        </div>
                        <div class="cart-btn mt-100">
                            <a href="#" class="btn amado-btn w-100">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
