body{
    background: url("../img/IMG_7348.JPG") no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    background-color: #e2e2e0;
    /*-moz-background-size: 100%;*/
    /*background-size: 100%;*/
    /*-o-background-size: 100%;*/
    padding-top: 56px;
}

#start-purchase-btn {
    background-color: #23364e;
    border-color: #23364e;
    color: white;
}

#start-purchase-link {
    text-decoration: none;
    color: white;
}